openapi: 3.1.0
info:
  version: 2.0.0
  title: CoinPayments
  termsOfService: 'https://coinpayments.com/terms/'
  contact:
    email: coinpayments@example.com
    url: 'http://coinpayments.com/contact'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://redocly.github.io/openapi-template/logo.png'
  description:
    $ref: ./info-description.md
tags:
  - name: Authentication
    description: >-
      To Integrate Coin Payments API you need to obtain CLIENT ID and CLIENT SECRET. 
      Once you created an account and logged in, Go to Dashboard, Business tools, API Integrations, Add integrations,
      a window will pop up where you’re asked to type a name for your integration and the URL of your API.
      once done, you will your new Client ID and client secret.
    x-codeSamples:
        - lang: 'JavaScript'
          source:
            $ref: ./code_samples/nodejs/authenticate/authenticate.js
        - lang: PHP
          source:
            $ref: ../code_samples/PHP/echo/post.php
servers:
  - url: 'https://api.coinpayments/api/v1'
    variables:
      tenant:
        default: www
        description: Your tenant id
  - url: 'https://example.com/api/v1'
paths:
  '/merchant/wallets':
    $ref: 'paths/merchant-wallets.yaml'
  '/merchant/wallets/{walletIdStr}':
    $ref: 'paths/merchant-wallet-id.yaml'
  '/merchant/wallets/{walletIdStr}/transactions':
    $ref: 'paths/merchant-wallet-transactions.yaml'
  /externalconversions:
    $ref: paths/external-conversions.yaml
  /pathItem:
    $ref: paths/merchant-callbacks.yaml
  /pathItemWithExamples:
    $ref: paths/path-item-with-examples.yaml
components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://example.com/api/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic
