openapi: 3.1.0
info:
  version: 2.0.0
  title: CoinPayments API Documentation
  x-logo:
    url: ./logo.png
  description:
    # TODO FIX CODE EXAMPLE
    $ref: ./info-description.md
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: Authentication
    description:
      $ref: './paths/auth/auth.md'
  - name: Invoices API
    description: './paths/invoices/invoice-description'
  - name: Wallets API
    description:
      $ref: './paths/wallets/wallets-description.md'
  - name: Webhooks API
    description:
      $ref: 'paths/webhooks/webhooks.md'
  # - name: Webhooks
  #   description:
  #     $ref: 'paths/clients/description.md'
servers:
  - url: 'https://api.coinpayments/api/v1'
paths:
  # TODO (2)
  '/merchant/invoices':
    $ref: 'paths/invoices/invoices.yaml'
  '/merchant/invoices/{id}':
    $ref: 'paths/invoices/get-by-id.yaml'
  # TODO GET invoice payout
  '/merchant/invoices/{id}/payouts':
    $ref: 'paths/invoices/payouts.yaml'
  # TODO GET invoice history
#  '/merchant/invoices/{id}/hitory':
#    $ref: 'paths/invoices/history.yaml'
#  # -----------------------------------------------
#  # TODO (2) TODO POST create callback - list callbacks by client Id and currency Id (in query)

#  # TODO GET callback DTOS
#  '/merchant/callbacks/callbackdtos':
#    $ref: 'paths/invoices/invoices.yaml'
  '/merchant/wallets':
    $ref: 'paths/wallets/create-wallet.yaml'
  '/merchant/wallets/{walletIdStr}':
    $ref: 'paths/wallets/get-wallet-by-id.yaml'
  '/merchant/wallets/{walletIdStr}/addresses':
    $ref: 'paths/wallets/create-and-get-addresses.yaml'
  '/merchant/wallets/{walletIdStr}/transactions':
    $ref: 'paths/wallets/get-wallet-transactions.yaml'
  '/merchant/wallets/{walletIdStr}/transaction':
    $ref: 'paths/wallets/get-wallet-transaction.yaml'
  '/merchant/wallets/{walletIdStr}/spend/request':
    $ref: 'paths/wallets/spend-request.yaml'
  '/merchant/wallets/{walletIdStr}/spend/confirmation':
    $ref: 'paths/wallets/spend-request-confirmation.yaml'

  # CONVERSION
  '/merchant/wallets/{walletIdStr}/convert/request':
    $ref: 'paths/conversion/send-convert-request.yaml'
  '/merchant/wallets/{walletIdStr}/convert/confirmation':
    $ref: 'paths/conversion/send-convert-confirmation.yaml'

  # Clients
  '/merchant/your-server-url':
    $ref: 'paths/webhooks/webhook-payload.yaml'
  '/merchant/clients/{clientId}/webhooks':
    $ref: 'paths/webhooks/webhook.yaml'
  '/merchant/clients/{clientId}/webhooks/{webhookId}':
    $ref: 'paths/webhooks/update-delete.yaml'

  # Currencies
  '/currencies':
    $ref: 'paths/currencies/get-currencies.yaml'
  '/cuurrencies/{id}':
    $ref: 'paths/currencies/get-currency-by-id.yaml'
  '/currencies/blockchain-nodes/{id}/latest-block-number':
    $ref: 'paths/currencies/get-latest-block-number.yaml'
#  '/currencies/required-confirmations':
#    $ref: 'paths/currencies/required-confirmations.yaml'
  '/currencies/conversions':
    $ref: 'paths/currencies/conversions.yaml'

  # TODO GET callback deposits
#  '/merchant/callbacks/deposits':
#    $ref: 'paths/invoices/invoices.yaml'

components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://example.com/api/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic