openapi: 3.1.0
info:
  version: 2.0.0
  title: CoinPayments
  termsOfService: 'https://coinpayments.com/terms/'
  contact:
    email: coinpayments@example.com
    url: 'http://coinpayments.com/contact'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://redocly.github.io/openapi-template/logo.png'
  description:
    # TODO FIX CODE EXAMPLE
    $ref: ./info-description.md
tags:
  - name: Authentication
    description: >-
      To Integrate Coin Payments API you need to obtain CLIENT ID and CLIENT SECRET.
      Once you created an account and logged in, Go to Dashboard, Business tools, API Integrations, Add integrations,
      a window will pop up where you’re asked to type a name for your integration and the URL of your API.
      once done, you will your new Client ID and client secret.
    x-codeSamples:
      - lang: 'TypeScript'
        label: 'Node'
        source:
          $ref: ./code_samples/nodejs/authenticate/authenticate.js
servers:
  - url: 'https://api.coinpayments/api/v1'
paths:
  # TODO (2)
  '/merchant/invoices':
    $ref: 'paths/invoices/invoices.yaml'
  # TODO GET invoice by Id
  '/merchant/invoices/{id}':
    $ref: 'paths/invoices/invoices.yaml'
  # TODO GET invoice payout
  '/merchant/invoices/{id}/payouts':
    $ref: 'paths/invoices/invoices.yaml'
  # -----------------------------------------------
  # TODO GET invoice history
  '/merchant/invoices/{id}/hitory':
    $ref: 'paths/invoices/invoices.yaml'
  # TODO (2) TODO POST create callback - list callbacks by client Id and currency Id (in query)
  '/merchant/callbacks':
    $ref: 'paths/callbacks/callback.yaml'
  # TODO check if payout is needed here
  '/merchant/callbacks/payout/{id}/{address}':
    $ref: 'paths/callbacks/execute-payout-by-callback-address-id.yaml'
  # TODO Execute payout
  '/merchant/callbacks/{id}/{address}':
    $ref: 'paths/invoices/invoices.yaml'
  # TODO (2) TODO GET callback address by id - update callback address
  '/merchant/callbacks/{id}':
    $ref: 'paths/invoices/invoices.yaml'
  # TODO GET callback DTOS
  '/merchant/callbacks/callbackdtos':
    $ref: 'paths/invoices/invoices.yaml'
  # TODO GET callback deposits
  '/merchant/callbacks/deposits':
    $ref: 'paths/invoices/invoices.yaml'
  # TODO GET callback deposits
#  '/merchant/callbacks/deposits':
#    $ref: 'paths/invoices/invoices.yaml'

components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://example.com/api/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic
