openapi: 3.1.0
info:
  version: 2.0.0
  title: CoinPayments API Documentation
  x-logo:
    url: ./logo.png
  description:
    # TODO FIX CODE EXAMPLE
    $ref: ./info-description.md
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: Authentication
    description:
      $ref: './paths/auth/auth.md'
  - name: Callbacks
    description:
      $ref: 'paths/callbacks/callbacks.md'
  - name: Clients
    description:
      $ref: 'paths/clients/description.md'
servers:
  - url: 'https://api.coinpayments/api/v1'
paths:
  # TODO (2)
  '/merchant/invoices':
    $ref: 'paths/invoices/invoices.yaml'
  '/merchant/invoices/{id}':
    $ref: 'paths/invoices/get-by-id.yaml'
  # TODO GET invoice payout
  '/merchant/invoices/{id}/payouts':
    $ref: 'paths/invoices/payouts.yaml'
  # TODO GET invoice history
#  '/merchant/invoices/{id}/hitory':
#    $ref: 'paths/invoices/history.yaml'
#  # -----------------------------------------------
#  # TODO (2) TODO POST create callback - list callbacks by client Id and currency Id (in query)
  '/merchant/callbacks':
    $ref: 'paths/callbacks/callback.yaml'
  '/merchant/callbacks/payout/{id}/{address}':
    $ref: 'paths/callbacks/execute-payout-by-callback-address-id.yaml'
  '/merchant/callbacks/{id}':
    $ref: 'paths/callbacks/get-by-id.yaml'
  '/merchant/callbacks/{id}/deposits':
    $ref: 'paths/callbacks/deposits.yaml'
  '/merchant/clients/{clientId}/webhooks':
    $ref: 'paths/clients/webhook.yaml'
  '/merchant/clients/{clientId}/webhooks/{webhookId}':
    $ref: 'paths/clients/update-delete.yaml'
#  # TODO GET callback DTOS
#  '/merchant/callbacks/callbackdtos':
#    $ref: 'paths/invoices/invoices.yaml'
  '/merchant/wallets':
    $ref: 'paths/wallets/create-wallet.yaml'
  '/merchant/wallets/{walletIdStr}':
    $ref: 'paths/wallets/get-wallet-by-id.yaml'
  '/merchant/wallets/{walletIdStr}/transactions':
    $ref: 'paths/wallets/get-wallet-transactions.yaml'
  '/merchant/wallets/{walletIdStr}/transaction':
    $ref: 'paths/wallets/get-wallet-transaction.yaml'
  '/merchant/wallets/{walletIdStr}/spend/request':
    $ref: 'paths/wallets/spend-request.yaml'
  '/merchant/wallets/{walletIdStr}/spend/confirmation':
    $ref: 'paths/wallets/spend-request-confirmation.yaml'

  # Currencies
  '/currencies':
    $ref: 'paths/currencies/get-currencies.yaml'

  # TODO GET callback deposits
#  '/merchant/callbacks/deposits':
#    $ref: 'paths/invoices/invoices.yaml'

components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://example.com/api/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic
